/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */

.login-container {
  padding: 106px;
}
.wrapper {
  max-width: 426px;
  max-width: 426px;
  min-height: 520px;
  margin: 6px auto;
  margin-bottom: -72px;
  padding: 40px 30px 83px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 8px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.role {
  word-wrap: normal;
  margin-left: 112px;
  padding: 12px 33px;
  border-radius: 16px;
  /* background-color: #c9e2d2; */
  border: none;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  color: #555;
}

select:focus {
  word-wrap: normal;
  outline: none;
}
.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 44px;
  background-color: rgb(35 103 44);
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
  border: none;
  /* margin-top: 42px; */
}

.wrapper .btn:hover {
  background-color: yellowgreen;
  color: black;
  outline: none;
}

.wrapper a {
  text-decoration: none;
  font-size: 1.5rem;
}

.wrapper a:hover {
  color: #174d34;
}
#forget {
  text-align: right;
  text-decoration: none;
  color: rgb(15, 107, 36);
  font-size: 18px;
  margin: 30px auto;
}
.create {
  text-align: center;
  text-decoration: none;
  color: #103e09;
  font-size: 18px;
  text-decoration-color: none;
}
p.already {
  font-size: 14px;
  padding: 5px;
}
.signup-footer {
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-footer {
  margin-bottom: -18px;
  color: black;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}
